/* Global */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f7f7f9;
  font: 15px/1.5 'poppins', 'roboto', arial, helvetica;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*Header section*/

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
}

/*Hero section*/

#hero {
  background-image: url(../images/backg.svg);
}