/* Global */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f7f7f9;
  font: 15px/1.5;
  font-family: 'poppins';
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 25px;
}

/* Header section */
header {
  background: #fff;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
}

/* Hero section */

#hero {
  background: url("../images/header_bg.svg") no-repeat #fff 100%;
  border-bottom-left-radius: 90px;
}

#hero .container h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.work p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

#hero .container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

button h3 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #6070ff;
}

.tonic h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.about h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
}

#hero .container h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
}

.social_link {
  display: flex;
  gap: 15px;
  padding: 0;
}

.social_link a {
  color: #505f79;
}

.hero {
  margin: 100px 0;
}

/* work section */

.work {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 16px;
  gap: 12px;
}

.tonic ul a {
  color: #7a869a;
}

.tonic ul {
  display: flex;
  gap: 15px;
}

.lang {
  display: flex;
  gap: 12px;
  color: #ebebff;
  border-radius: 8px;
}

.lang li a {
  color: #6070ff;
  border-radius: 8px;
  text-decoration: none;
  padding: 4px 12px;
  background: #ebebff;
  font-size: 12px;
}

button {
  border: 1px solid #6070ff;
  padding: 0 24px;
  border-radius: 8px;
  background: none;
}

#about .container {
  background: #fff;
  border-top-right-radius: 90px;
}

.about h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.skills,
.language {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.language li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f9;
  border-radius: 5px;
  text-decoration: none;
  color: #253858;
  padding: 5px;
  font-size: 20px;
}

.chev {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

hr {
  background: #dfe1e6;
  height: 1px;
  border: 0.5px;
  margin-top: 10px;
}

.chev i {
  color: #acb7c3;
}

.contact-me {
  background: #fff;
}

.contact {
  background-image: url("../images/contact-bg.svg");
  background-position: center 100px;
  background-size: auto;
  background-repeat: no-repeat;
  border-top-left-radius: 160px;
  background-color: #6070ff;
}

.contact .contact-text {
  text-align: center;
  margin: auto;
  margin-top: 142px;
}

.contact .contact-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}

.contact .contact-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.contact-form {
  width: 500px;
  margin: 40px auto;
}

.contact .form-field {
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}

.contact input[type="text"],
.contact input[type="email"] {
  border: 0;
  border: 1px solid #fff;
  width: 100%;
  height: 48px;
  padding: 20px;
  font-size: 16px;
  border-radius: 8px;
  display: block;
  margin: auto;
}

.contact textarea {
  border: 0;
  border: 1px solid #fff;
  width: 100%;
  display: block;
  margin: auto;
  height: 172px;
  padding: 20px;
  font-size: 16px;
  border-radius: 8px;
}

.contact input:focus {
  outline: none;
}

.contact textarea:focus {
  outline: none;
}

.form-field button {
  background: #fff;
  height: 48px;
  width: 142px;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
}